*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  background: linear-gradient(to bottom, #e7b838, #c8ee61);
  overflow-x: hidden;
}

canvas{
  border: solid 1px black;
  cursor: crosshair;
  transform: scale(12);
  image-rendering: pixelated;
}

.canvas-container{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  /* background-color: rgb(230, 189, 189); */
}

button{
  cursor: pointer;
}

.save{
  height: 100px;
  width: 200px;
}

.predict{
  height: 100px;
  width: 200px;
}

.clear{
  height: 100px;
  width: 200px;
}

.save-container{
  display: flex;
  justify-content: center;
  /* background-color: rgb(74, 74, 189); */
  margin-top: 200px;
}

.output-container{
  height: 100px;
  display: flex;
  justify-content: center;
  /* background-color: yellow */
}

.prediction{
  height: 100px;
  width: 90vw;
  background: linear-gradient(to right, rgb(189, 160, 160), rgb(129, 136, 233));
  border: solid 1px black;
  text-align: center;
  padding-top: 30px;
}

.title{
  font-size: 50px;
  padding-top: 20px;
  margin: -10px;
  text-align: center;
}

.instruction{
  font-size: 30px;
  padding-top: 15px;
  text-align: center;
}

.hey{
  width: 500px;
  height: 500px;

}